<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>#eatabrick pastes</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="rss">
  </head>
  <body>
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <p class="navbar-brand">#eatabrick pastes</p>
        <ul class="nav navbar-nav">
          <li><a href="/">new</a></li>
          <li><a href="/hist">recent</a></li>
        </ul>
        <form action="/search" class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" name="q" class="form-control" placeholder="search">
          </div>
          <button type="submit" class="btn btn-default">go</button>
        </form>
      </div>
    </div>
    <div class="container">
      [% content %]
    </div>
  </body>
</html>
