[% use date %]
[% use Time.Duration %]

<h1>[% title | html %]</h1>
[% foreach paste in pastes %]
<h2>
  <a href="/[% paste.token %]">[% paste.title | html %]</a>

  <small title="[% date.format(paste.created, '%Y-%m-%d %H:%M:%S') %]">
    [% Time.Duration.ago(date.now - paste.created, 1) %]
  </small>
</h2>
[% end %]

[% if pastes.size == 0 %]
  <p>nothing to see here</p>
[% end %]
