<h1>[% title | html %]</h1>
[% foreach paste in pastes %]
<h2>
  <a href="/[% paste.token %]">[% paste.title | html %]</a>
  [% include ago.tt time = paste.created %]
</h2>
[% end %]

[% if pastes.size == 0 %]
  <p>nothing to see here</p>
[% end %]
